<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Doan_ThiTracNghiem.Properties.Settings.QL_ThiTracNghiemConnectionString"
            connectionString="Data Source=DESKTOP-84OEQ03\SQLEXPRESS;Initial Catalog=QL_ThiTracNghiem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>